#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:95px;
    width:15%;
    float:left;
    padding:5px;
}
#stateTable {
    width:95%;
}
#stateTableCaption{
    font-family:黑体;
    font-size: 24px;
    text-align:center;
}
#topology{
    width:60%;
    height: 60%;
    float:left;
    padding:10px;
}
#topology-pane{
    height:700;
}
#topology-graph {
    border: 1px solid #000000;
}

.node {
}

.node.fixed {
    fill: #C0C0C0;
}

.node text {
    font-size: 14px;
}

.link {
    stroke: #090909;
    stroke-opacity: .6;
    stroke-width: 2px;
}

.port circle {
    stroke: black;
    fill: #C5F9F9;
}

.port text {
    font-size: 10px;
}
